<ion-view view-title="Discover" class="discover-page">
  <ion-content scroll="false">


    <div class="list card current-quran" ng-class="{skipped: currentQuran.rated == false,
                                                  favorited: currentQuran.rated == true}"
          ng-show="currentQuran && !currentQuran.hide">
        <div class="img-lookahead">
          <img ng-src="{{nextAlbumImg()}}" />
          </div>
       <div class="item item-image">
        <img ng-src="{{currentQuran.reciter_img}}">
      </div>

      <div class="item">
        <h2>{{ currentQuran.surah }}</h2><span ng-hide="currentQuran.loaded"><i class="ion-loading-c"></i></span>
        <p>{{ currentQuran.reciter }}</p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="sendFeedback(false)">
          <i class="icon ion-close"></i>
          Next
        </a>
        <a class="tab-item" ng-click="sendFeedback(true)">
          <i class="icon ion-heart"></i>
          Favorite
        </a>
      </div>

    </div>


  </ion-content>
</ion-view>
